p{
    display: inline;
    font-size:x-large;
}

header{
    text-align: center;
}

#ind-td{
    display: inline-block;
    color: red;
    width: 100px;
}

li{
    display: inline;
}

nav{
    background-color: red;
    color: white;
    padding: 1px;
}